
@mixin animate {
  transition: all 0.15s ease-in-out; 
}
// ===========================

body {
     background-color: black;  /* for my eyes. Delete if needed */
}

#getWeather {
    width: 120px;
    height: 30px;
}

.geoAsk {
  //@todo +octoshrimpy animate this nicely sliding in
  // display: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  // @include animate;
  // position: relative;
  // top: -100%;
  // overflow: visible;

  padding: 2rem;

  button {
    margin-top: 2rem;
  }

  &.show {
    display:flex;
    // top: 0%;
  }
}